@charset "utf-8";
html{min-height: 100%;}
body{background:#511689 url("/static/weixin/images/anniversarytwoshare/an-bg.png") center bottom no-repeat;background-size: cover;text-align: center;color:#fff;}
.center{margin:0 1.15rem;}
.an-theme{position: relative;}
.an-img{width:100%;}
.an-time{position:absolute;width:100%;text-align:center;top:7.3rem;line-height:0.75rem;font-size:0.45rem;}
.an-succ{position:relative;width:13.6rem;margin:-0.1rem auto 0.75rem;text-align:center;color:#f4d72d;font-size: 0.8rem;}
.an-succ:before,.an-succ:after{content: "";width:2.4rem;position: absolute;top:50%;border-top:1px solid #be974c;border-bottom:1px solid #8e5f66;font-size:0;}
.an-succ:before{left:0;}
.an-succ:after{right:0;}
.an-bonus{width:12.55rem;height:6rem;margin:0 auto 1.2rem;background:#511689 url("/static/weixin/images/anniversarytwoshare/an-bonus-bg.png") center center no-repeat;background-size: cover;}
.an-bonus-des{width:8.5rem;height:3.75rem;position:relative;top:1.4rem;left:1.5rem;text-align: center;color:#231815;}/*margin:1.45rem 0 0 1.6rem;*/
.an-bonus-txt1{width:4.6rem;margin:0 auto;position: relative;}
.an-bonus-txt1 span{font-size: 2.25rem;font-weight: bold;line-height: 2.7rem;padding-left:0.25rem; }
.an-bonus-txt1 sup{position: absolute;left:0;top:0.5rem;font-size: 0.8rem;}
.an-bonus-txt2{font-size: 0.5rem;line-height:0.95rem;}
.an-invite{width:1.5rem;}
.an-invite-txt{margin:0.2rem auto;line-height: 1rem;height:3rem;color:#f4d72d;font-size:0.65rem;}

.an-flex-box {display: -webkit-box;  display: -webkit-flex;  display: -ms-flexbox;  display: flex;}
.an-box-align{-webkit-box-align: center;-webkit-align-items: center;-ms-flex-align: center;align-items: center;}
.an-box-pack{-webkit-box-pack:justify;-webkit-justify-content:space-between;-ms-flex-pack:justify;justify-content:space-between;}
.an-headimg{width:3.05rem;height:3.05rem;margin:0 0.325rem;overflow: hidden;border:2px solid #bf7cff;border-radius: 100%;}
.an-headimg>img{width:100%;vertical-align: middle;}
.an-user-des{padding-left:0.325rem;text-align: left;}
.an-nickname{font-size:0.75rem;line-height: 1.275rem;}
.an-9douyu{font-size:0.55rem;line-height: 1.075rem;}
.an-line{margin:0 2.975rem;height:1.2rem;position:relative;border-left:2px solid #a229d2;}
.an-dot{position:absolute;top:0.35rem;left:-4px;width:6px;height:6px;background-color: #a229d2;border-radius: 50%;overflow: hidden;}
.an-mybonus{padding:0.55rem 0 0.425rem; background-color:#a229d2;border-radius:0.25rem;line-height: 1rem;font-size:0.65rem;   }
/*btn*/
.an-btn-wrap{width:11.6rem;margin:1.625rem auto 0;}
.an-btn-input{position:relative;display: block;width:100%;line-height:2rem;background-color: #ffd800;border-radius:1rem;color:#cb3500;font-size: 0.8rem;border-top:0.125rem solid #fff263; border-bottom:0.2rem solid #ff9000;-webkit-tap-highlight-color: none;box-shadow:0 1px 1px #7717af;}
.an-btn-disabled{background-color: #9d9b9b;border-top:0.125rem solid #c5c5c5; border-bottom:0.2rem solid #545454;color:#fff;box-shadow: none;}
.an-btn-txt,.an-btn-txt:visited{color:#ffd800;font-size: 0.65rem;line-height: 3.2rem;border:1px dotted #ffd800;padding:0.2rem 0.5rem;border-radius: 0.5rem;}
.an-pop-wrap{width:8.5rem;margin:0 auto 1rem;}
.an-pop-btn{display:block;width:100%;line-height:1.75rem;background: #ff9000;font-size: 0.75rem;text-align: center;border-radius: 0.8rem;color:#fff; }
.an-scroll{height:7.7rem;margin-top:0.95rem;margin-bottom: 2rem;}
.an-activity{position:relative;color:#fffab1;font-size: 0.75rem;line-height: 30px;}
.an-activity:before,.an-activity:after{content: "";width:5rem;height:0.25rem;position: absolute;top:40%;}
.an-activity:before{left:0;background:url("/static/weixin/images/anniversarytwoshare/an-line.png") right bottom no-repeat;background-size: cover;}
.an-activity:after{right:0;background:url("/static/weixin/images/anniversarytwoshare/an-line.png") left top no-repeat;background-size: cover;}
.an-activity-list{text-align: left;line-height:1.275rem;}
.an-activity-list li>span{color:#ffd800;}


/*pop*/
.pop-layer{display: none;}
.pop-mask{position:fixed;left:0;top:0;z-index:10;width: 100%;height: 160%;background: rgba(0,0,0,.5);}
.pop{width:13.625rem;position:fixed;z-index:20;left:50%;top:50%;-webkit-transform: translate(-50%, -50%);transform: translate(-50%, -50%);background-color: #fff;overflow: hidden;border-radius:0.5rem;}
.pop-title{position: relative;width:100%;height:4.25rem;overflow:hidden;background:#e32b2b url("/static/weixin/images/anniversarytwoshare/an-title.png") center center no-repeat;background-size: cover;}
.pop-close{position: absolute;right:0.275rem;top:0.45rem;width:1.2rem;height:1.2rem;}
.pop-close img{width: 100%;height: 100%;}
.an-smile,.an-cry{width:5.525rem;margin-top:0.65rem;}
.an-cry{width:3.775rem;}
.pop-contxtsuc{padding:1.325rem 0 0.65rem;line-height:0.95rem;color:#ff9000;font-size: 0.75rem; }
.pop-net{height: 5rem;background: #fff;}
.an-net{width:3.95rem;margin-top:1.125rem;}
/*color*/
.an-color-purple{color:#511689}
.an-color-red{color:#e94619;}
.an-color-yellow{color:#f4d72d;}
.an-color-blue{color:#6cb4d7;}
