html {
    -webkit-font-smoothing: antialiased; /*让页面里的字体变清晰*/
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: none;
}


body{
	margin:0;
	width:100%;
	overflow:hidden;
	background: #fff;
	color: #fff;
	font-family:"SourceHanSansCN","Microsoft YaHei", "Arial Black";
    box-sizing: border-box;
	text-align: center;
	
}
html,body{height:100%;}
body, h1, h2, h3, h4, h5, h6, dl, dd, p, blockquote {
	margin: 0;
}
ul, ol {
	padding: 0;
	margin: 0;
}
li {
	list-style: none;
}
.news3{background: -webkit-linear-gradient(#11b49f, #88fe81);background: -o-linear-gradient(#11b49f, #88fe81);background: -moz-linear-gradient(#11b49f, #88fe81);background: linear-gradient(#11b49f, #88fe81);}
.news3 img{display: block;margin:0 auto;}
.news3 .new3-inner{position:relative;width:100%;height:100%;oveflow:hidden;padding-top:2.3rem;z-index: 2;background:transparent;}
.news3 .news3-title{width:7.825rem;}
.news3-wrap {  width: 100%;  height: 100%;overflow: hidden;}
.news3-page-bg{position:absolute;left:0;top:0;z-index:0;width:100%;height:100%;}
.news3-arrowUp{height:auto;width:20px;position:absolute;left:50%;top:89%;margin-left:-10px;z-index: 8;}

.news3-page1 .news3-img-1{width:11.85rem;margin-top:0.6rem;}
.news3-page1 .news3-img-2{width:6.425rem;position: absolute;bottom:14%;}
.news3-page1 .page1-txtarea{width:11.85rem;margin:0 auto;}

.news3-page2 .news3-img-1,
.news3-page3 .news3-img-1{width:12.525rem;margin-top:2.225rem;}
.news3-page2 .news3-img-2{width:10.675rem;margin-top:1.75rem;}
.news3-page3 .news3-txt1{font-size: .95rem;margin-top:1.75rem;}

/*平台业绩*/
.news3-page4 .page4-txtarea{margin:0.1rem 3.05rem;font-size:.65rem;}
.news3-page4 .page4-icon{width:3.6rem;text-align: center;}
.news3-page4 .page4-icon>img{width:2.4rem;height: 2.4rem;}
.news3-page4 .page4-txt{text-align: left;padding-left:.4rem;}
.news3-page4 .page4-txt2{font-size:0.85rem;}
.news3-page4 .page4-mar{margin-top: 0.75rem;-webkit-box-align: center;  -webkit-align-items: center;  -ms-flex-align: center;  align-items: center;}
.news3-page4 .page-font{font-size:.65rem;}
/*三月融资金额*/
.news3-page5 .news3-img-1{width:12.5rem;margin-bottom:.25rem;}
.news3-page5 .news3-txt1{font-size:.85rem;margin-top:.25rem;}
.news3-page5 .page5-mar{margin-top:.55rem;}

/*三月融资数量*/
.news3-page6 .news3-img-1{width:12.15rem;margin-bottom:0.95rem;}
.news3-page6 .news3-txt1{font-size:.85rem;margin-top:.3rem;}
.news3-page6 .page6-mar{margin-top:1.325rem;}

/*定期投资前三名*/
.news3-page7 .news3-img-1{width:13.325rem;margin-bottom:0.925rem;}
.news3-page7 .news3-txt1{font-size:.85rem;margin-top:1.1rem;}
.news3-page7 .page7-mar{margin-top:2.325rem;}

/*大事件*/
.news3-page8 .news3-img-1,
.news3-page9 .news3-img-1,
.news3-page10 .news3-img-1,
.news3-page13 .news3-img-1{width:14.8rem;margin-top:.7rem;}
.news3-page8 .news3-img-2,
.news3-page9 .news3-img-2,
.news3-page10 .news3-img-2{width:12.925rem;margin:.85rem 0 0;}
.news3-page8 .news3-txt1,
.news3-page9 .news3-txt1,
.news3-page10 .news3-txt1,
.news3-page13 .news3-txt1{margin-top:.7rem;font-size:.7rem;text-align: left;text-indent: 2em;line-height: 1.05rem;}
.page-textwrap{width:14.8rem;margin:0 auto;text-align:left;}
/*平台建设 优化升级*/
.news3-page11 .page11-txtarea{margin:2.35rem .625rem;font-size:.7rem;}
.news3-page11 .page11-icon{width:2.8rem;text-align: center;}
.news3-page11 .page11-icon>img{width:1.7rem;}
.news3-page11 .page11-txt{text-align: left;padding-left:.225rem;}
.news3-page11 .page11-mar{margin-bottom:1.825rem;}
.news3-page11 .page11-pad{line-height:2rem;}

/*平台活动 极致体验*/
.news3-page12{font-size:.7rem;}
.news3-page12 strong{font-size:1rem;}
.news3-page12 .news3-txt1{margin-top:1.9rem;}
.news3-page12 .news3-txt2{margin:0.6rem;}
.page12-txtarea{margin:2rem 1.25rem;font-size:0.7rem;}
.page12-txtarea li{margin-bottom:1.6rem;height:1.175rem;text-align: left;background:url(../images/news1603/news03-page12-icon-pencil.png) right center no-repeat;background-size:2.4rem 1.125rem;}
.page12-txtarea li>img{display: inline-block;width:1.05rem;}

/*尾页*/
.news3-page14 .news3-img-1{width:10.325rem;margin-top:1.125rem;}
.news3-page14 .news3-img-2{width:8.925rem;margin-top:1.75rem;}
.news3-page14 .news3-img-3{width:4.95rem;margin-top:6rem;}

/*播放*/
.img-icon-1 {
	width: 1.2rem;
	right: -0.3rem;
	top: -0.2rem;
	cursor: pointer;
	position: absolute;
	z-index: 9999;
}
.play{-webkit-animation: rotating 1.2s linear infinite;
	-moz-animation: rotating 1.2s linear infinite;
	-o-animation: rotating 1.2s linear infinite;
	animation: rotating 1.2s linear infinite;
}
@-webkit-keyframes rotating {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}
@keyframes rotating {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}
.b-flex-box {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	/*-webkit-box-align: center;*/
	/*-webkit-align-items: center;*/
	/*-ms-flex-align: center;*/
	/*align-items: center;*/
}

