* {
  margin: 0;
  padding: 0;
  outline: none;
}
*:not(input,textarea) {
  -webkit-touch-callout: inherit;
  -webkit-user-select: auto;
}

html {
    font-size : 18px;
  color: #fff;
  min-height:320px;
}

/*@media only screen and (min-width: 350px){
    html {
        font-size: 18px !important;
    }
}


@media only screen and (min-width: 402px){
    html {
        font-size: 23px !important;
    }
}
@media only screen and (min-width: 428px){
    html {
        font-size: 21px !important;
    }
}


@media only screen and (min-width: 641px){
    html {
        font-size: 23px !important; 
    }
}
*/


body {
  width: 100%;
  font-family: Hiragino Sans GB, Arial, Helvetica, "ºÚÌå", sans-serif;
/*  font-size: 14px;*/
  color: #878787;
  -webkit-touch-callout: inherit ;
  -webkit-user-select: auto ;
  background-color: #fff;
}
a {
  color: #878787;
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
a:hover {
  text-decoration: none;
}
button,input,select,textarea {
  font-size: 100%;
  margin: 0;
  padding: 0;
  outline: none;
}
dt,dd {
  display: inline-block;
}
textarea,input {
  resize: none;
  outline: none;
}
textarea {
  resize: none;
  -webkit-appearance: none;
}
ul,ol,li {
  list-style: none;
}
em {
  font-style: normal;
}

.img-icon-1{width:1.05rem;right: 0rem; top: 0rem; cursor: pointer; position: absolute; z-index: 9999;}
  .play{-webkit-animation: rotating 1.2s linear infinite;
  -moz-animation: rotating 1.2s linear infinite;
  -o-animation: rotating 1.2s linear infinite;
  animation: rotating 1.2s linear infinite;}