@charset "utf-8";
/* CSS Document */
.seckill-title,
.seckill-btn ins{
    background-image: url('/static/activity/interest2/images/page-icon.png'); background-repeat: no-repeat;
}

body{background:#350057 url('/static/activity/interest2/images/page-bg.jpg') center 114px no-repeat;}
.seckill-banner{width: 100%; height: 580px; padding-bottom: 167px; text-align: center; margin:0 auto; overflow: hidden; background: url('/static/activity/interest2/images/page-banner.png') center top no-repeat;}
.seckill-banner p{padding: 482px 70px 0 0;transform:rotate(-2deg); color: #741499; font-size: 24px;text-indent: 5em;}

.seckill-4{
    width: 964px;
    background-color: #8934d9;
    margin:0 auto 176px;position:relative;
    border-radius: 12px;
    height: 240px;

}

.seckill-2{
    background-color: #109aff;
    background:-moz-linear-gradient(top,#3ac5ff,#008aff);
    background:-webkit-gradient(linear,0 50%,100% 50%,from(#3ac5ff),to(#008aff));
    background:-webkit-linear-gradient(top,#3ac5ff,#008aff);
    background:-o-linear-gradient(top,#3ac5ff,#008aff);
    margin-bottom: 80px;position:relative;
    border-radius: 12px;


}
.seckill-4:hover,.seckill-list:hover,.seckill-pro-box:hover,.seckill-2:hover,.seckill-list:hover,.seckill-pro-box:hover{box-shadow: 0 4px 2px rgba(0,0,0,.3);-webkit-transition: all 0.3s;-moz-transition: all 0.3s;-o-transition: all 0.3s;transition: all 0.3s;  border-radius: 12px;}
.seckill-4 a,.seckill-2 a{display:block;padding:25px 55px; position: relative;border-radius: 12px;}


.seckill-title{width:270px; height:58px; text-align: center; margin:0 auto; text-indent: -15px; line-height: 50px; font-size: 28px; font-weight: bold; color:#fff; }
.seckill-title1{background-position: 0 0;position:absolute; top: -38px; left: 0; right:0; z-index: 10; text-shadow: 1px 0 4px #cc3f48; }
.seckill-title2{background-position: 0 -60px; margin-bottom: 20px; text-shadow: 1px 0 4px #4307af; }
.seckill-title3{background-position: 0 -121px; font-size: 24px; width:660px; text-shadow: 1px 0 4px #4307af; position:absolute; top: -20px; left: 0; right:0; z-index: 10; }
.seckill-title4{background-position: 0 -60px;  position:relative; top: -38px; margin:0 auto; z-index: 10;color: #fff;text-shadow: 1px 0 4px #cc3f48; }
.seckill-title5{background-position: 0 -228px; font-size: 28px; width:202px; margin-bottom: 22px; line-height: 46px; text-shadow: 1px 0 4px #4307af; }

.seckill-4 .seckill-info{color:#ff3e3e;}
.seckill-2 .seckill-info{color:#fff;}

.seckill-4 .seckill-4-data{color:#fff;}
.seckill-2 .seckill-4-data{color:#fff;}

.seckill-4 .seckill-4-data big, .seckill-4 .seckill-4-data .per, .seckill-4 .seckill-4-data .add{color:#fff;}
.seckill-2 .seckill-4-data big,.seckill-2 .seckill-4-data .per,.seckill-2 .seckill-4-data .add{color:#fffef5;}


.seckill-4 .seckill-4-data small{color:#fbef00;}
.seckill-2 .seckill-4-data small{color:#ffec28;}

.seckill-2 .seckill-btn ins{background-position: -291px 0;}
.seckill-2 .seckill-title1{background-position: 0 -60px;}
.seckill-4 .seckill-btn{border-top:3px solid #ff85fa;color:#fff;background-color: #f745fa;  background:-moz-linear-gradient(top,#f745fa,#d03ef7);
    background:-webkit-gradient(linear,0 50%,100% 50%,from(#f745fa),to(#d03ef7));
    background:-webkit-linear-gradient(top,#f745fa,#d03ef7);
    background:-o-linear-gradient(top,#f745fa,#d03ef7);
}
.seckill-2 .seckill-btn{border-top:3px solid #ff4f25;color:#fff;background-color: #f745fa;  background:-moz-linear-gradient(top,#f745fa,#d03ef7);
    background:-webkit-gradient(linear,0 50%,100% 50%,from(#f745fa),to(#d03ef7));
    background:-webkit-linear-gradient(top,#f745fa,#d03ef7);
    background:-o-linear-gradient(top,#f745fa,#d03ef7);
}
.seckill-2 .seckill-4-data{border:1px dashed #c1ecff;border-width: 1px 0;}
.seckill-2 .seckill-4-data td i{background-color: #c1ecff;}
.seckill-info{font-size: 18px; text-align: center; line-height: 50px;}
.seckill-4-data{ border:1px dashed #fff; padding:20px 0; text-align: center;font-size: 20px; border-width: 1px 0;}
.seckill-4-data big{font-size: 50px;}
.seckill-4-data .per{font-size: 28px;}
.seckill-4-data small{font-size: 14px;}
.seckill-4-data .add{font-size: 42px; color:#ffec21; }
.seckill-4-data .nhs{position: relative;top:-6px;}
.seckill-4-data td{position:relative;}
.seckill-4-data td i{position:absolute; height:68px; width:1px; right:0;top: 15px; background-color: #bc840d;}
.seckill-4-data p{line-height:40px;}
.seckill-btn{width:220px; display: inline-block; line-height: 56px; border-top:3px solid #fffe01; color:#752bbc;font-size: 24px; font-weight: bold;  height:57px; text-align: center;background-color: #fff001;  background:-moz-linear-gradient(top,#fff001,#ffd801);
    background:-webkit-gradient(linear,0 50%,100% 50%,from(#fff001),to(#ffd801));
    background:-webkit-linear-gradient(top,#fff001,#ffd801);
    background:-o-linear-gradient(top,#fff001,#ffd801);
}

.seckill-btn ins{display:inline-block; margin-left: 5px; position:relative; top: 3px; width:18px; height:24px; background-position: -291px 0;}
.seckill-btn:hover{box-shadow: 3px 3px 3px rgba(0,0,0,0.1);}
.seckill-btn.btn1{margin-left: 80px;}
.seckill-btn.btn2{width:100%; color:#ef610b; margin-top: 10px;}
.seckill-btn.btn2 ins{background-position: -309px 0;}
.seckill-btn.disable{background: #9e9e9e; text-shadow: 0 -1px 0 #343434; color:#515151; border-color: #9e9e9e;}

.seckill-4-mask{position:absolute; text-align: center; top: -1px; bottom:0; left: -1px; right:-1px;color:#fff; font-size: 20px;}
.seckill-4-mask i,.seckill-mask-2 i{position:absolute; z-index: 1; top:0; bottom:0; left: 0; right:0;background: #000;filter: alpha(opacity=70);-moz-opacity: 0.7;opacity: 0.7;}
.seckill-4-mask p{padding-top: 50px; line-height: 70px; position:relative; z-index: 10;}
.seckill-4-mask big{font-size: 64px;}

.seckill-mask-2{position:absolute; text-align: center; line-height: 26px; top: 0; bottom:0; left:0; right:0; color:#fff; font-size: 20px;}
.seckill-mask-2 p{position:relative; z-index: 10;}
.seckill-mask-2 .big{padding:110px 0 25px;font-size: 24px;}


.seckill-rule{background-color: #fed402; width: 964px; height: 240px; margin:0 auto 134px; color:#550a81;  position:relative;border-radius: 12px;}
.seckill-rule p{position:relative; line-height: 35px; font-size: 18px; padding:0 24px 0 66px;}

.seckill-block-img{width:986px; height:130px; display: block; border:8px solid #fff; margin-bottom: 13px;}


