.progressbar-small.progressbar-small {
	text-align: center;
	width:129px;
	display: block;
	position: relative;
	background: url(../images/progressbar-small.png) 0 0 no-repeat;
	height:129px;
}

.progressbar-small.progressbar-0 {
	background-position: 0px 0px;
}

.progressbar-small.progressbar-1 {
	background-position: -129px 0px;
}

.progressbar-small.progressbar-2 {
	background-position: -258px 0px;
}

.progressbar-small.progressbar-3 {
	background-position: -387px 0px;
}

.progressbar-small.progressbar-4 {
	background-position: -516px 0px;
}

.progressbar-small.progressbar-5 {
	background-position: -645px 0px;
}

.progressbar-small.progressbar-6 {
	background-position: -774px 0px;
}

.progressbar-small.progressbar-7 {
	background-position: -903px 0px;
}

.progressbar-small.progressbar-8 {
	background-position: -1032px 0px;
}

.progressbar-small.progressbar-9 {
	background-position: -1161px 0px;
}

.progressbar-small.progressbar-10 {
	background-position: -1290px 0px;
}

.progressbar-small.progressbar-11 {
	background-position: -1419px 0px;
}

.progressbar-small.progressbar-12 {
	background-position: -1548px 0px;
}

.progressbar-small.progressbar-13 {
	background-position: -1677px 0px;
}

.progressbar-small.progressbar-14 {
	background-position: -1806px 0px;
}

.progressbar-small.progressbar-15 {
	background-position: -1935px 0px;
}

.progressbar-small.progressbar-16 {
	background-position: -2064px 0px;
}

.progressbar-small.progressbar-17 {
	background-position: -2193px 0px;
}

.progressbar-small.progressbar-18 {
	background-position: -2322px 0px;
}

.progressbar-small.progressbar-19 {
	background-position: -2451px 0px;
}

.progressbar-small.progressbar-20 {
	background-position: -2580px 0px;
}

.progressbar-small.progressbar-21 {
	background-position: -2709px 0px;
}

.progressbar-small.progressbar-22 {
	background-position: -2838px 0px;
}

.progressbar-small.progressbar-23 {
	background-position: -2967px 0px;
}

.progressbar-small.progressbar-24 {
	background-position: -3096px 0px;
}

.progressbar-small.progressbar-25 {
	background-position: -3225px 0px;
}

.progressbar-small.progressbar-26 {
	background-position: -3354px 0px;
}

.progressbar-small.progressbar-27 {
	background-position: -3483px 0px;
}

.progressbar-small.progressbar-28 {
	background-position: -3612px 0px;
}

.progressbar-small.progressbar-29 {
	background-position: -3741px 0px;
}

.progressbar-small.progressbar-30 {
	background-position: -3870px 0px;
}

.progressbar-small.progressbar-31 {
	background-position: -3999px 0px;
}

.progressbar-small.progressbar-32 {
	background-position: -4128px 0px;
}

.progressbar-small.progressbar-33 {
	background-position: -4257px 0px;
}

.progressbar-small.progressbar-34 {
	background-position: -4386px 0px;
}

.progressbar-small.progressbar-35 {
	background-position: -4515px 0px;
}

.progressbar-small.progressbar-36 {
	background-position: -4644px 0px;
}

.progressbar-small.progressbar-37 {
	background-position: -4773px 0px;
}

.progressbar-small.progressbar-38 {
	background-position: -4902px 0px;
}

.progressbar-small.progressbar-39 {
	background-position: -5031px 0px;
}

.progressbar-small.progressbar-40 {
	background-position: -5160px 0px;
}

.progressbar-small.progressbar-41 {
	background-position: -5289px 0px;
}

.progressbar-small.progressbar-42 {
	background-position: -5418px 0px;
}

.progressbar-small.progressbar-43 {
	background-position: -5547px 0px;
}

.progressbar-small.progressbar-44 {
	background-position: -5676px 0px;
}

.progressbar-small.progressbar-45 {
	background-position: -5805px 0px;
}

.progressbar-small.progressbar-46 {
	background-position: -5934px 0px;
}

.progressbar-small.progressbar-47 {
	background-position: -6063px 0px;
}

.progressbar-small.progressbar-48 {
	background-position: -6192px 0px;
}

.progressbar-small.progressbar-49 {
	background-position: -6321px 0px;
}

.progressbar-small.progressbar-50 {
	background-position: -6450px 0px;
}

.progressbar-small.progressbar-51 {
	background-position: -6579px 0px;
}

.progressbar-small.progressbar-52 {
	background-position: -6708px 0px;
}

.progressbar-small.progressbar-53 {
	background-position: -6837px 0px;
}

.progressbar-small.progressbar-54 {
	background-position: -6966px 0px;
}

.progressbar-small.progressbar-55 {
	background-position: -7095px 0px;
}

.progressbar-small.progressbar-56 {
	background-position: -7224px 0px;
}

.progressbar-small.progressbar-57 {
	background-position: -7353px 0px;
}

.progressbar-small.progressbar-58 {
	background-position: -7482px 0px;
}

.progressbar-small.progressbar-59 {
	background-position: -7611px 0px;
}

.progressbar-small.progressbar-60 {
	background-position: -7740px 0px;
}

.progressbar-small.progressbar-61 {
	background-position: -7869px 0px;
}

.progressbar-small.progressbar-62 {
	background-position: -7998px 0px;
}

.progressbar-small.progressbar-63 {
	background-position: -8127px 0px;
}

.progressbar-small.progressbar-64 {
	background-position: -8256px 0px;
}

.progressbar-small.progressbar-65 {
	background-position: -8385px 0px;
}

.progressbar-small.progressbar-66 {
	background-position: -8514px 0px;
}

.progressbar-small.progressbar-67 {
	background-position: -8643px 0px;
}

.progressbar-small.progressbar-68 {
	background-position: -8772px 0px;
}

.progressbar-small.progressbar-69 {
	background-position: -8901px 0px;
}

.progressbar-small.progressbar-70 {
	background-position: -9030px 0px;
}

.progressbar-small.progressbar-71 {
	background-position: -9159px 0px;
}

.progressbar-small.progressbar-72 {
	background-position: -9288px 0px;
}

.progressbar-small.progressbar-73 {
	background-position: -9417px 0px;
}

.progressbar-small.progressbar-74 {
	background-position: -9546px 0px;
}

.progressbar-small.progressbar-75 {
	background-position: -9675px 0px;
}

.progressbar-small.progressbar-76 {
	background-position: -9804px 0px;
}

.progressbar-small.progressbar-77 {
	background-position: -9933px 0px;
}

.progressbar-small.progressbar-78 {
	background-position: -10062px 0px;
}

.progressbar-small.progressbar-79 {
	background-position: -10191px 0px;
}

.progressbar-small.progressbar-80 {
	background-position: -10320px 0px;
}

.progressbar-small.progressbar-81 {
	background-position: -10449px 0px;
}

.progressbar-small.progressbar-82 {
	background-position: -10578px 0px;
}

.progressbar-small.progressbar-83 {
	background-position: -10707px 0px;
}

.progressbar-small.progressbar-84 {
	background-position: -10836px 0px;
}

.progressbar-small.progressbar-85 {
	background-position: -10965px 0px;
}

.progressbar-small.progressbar-86 {
	background-position: -11094px 0px;
}

.progressbar-small.progressbar-87 {
	background-position: -11223px 0px;
}

.progressbar-small.progressbar-88 {
	background-position: -11352px 0px;
}

.progressbar-small.progressbar-89 {
	background-position: -11481px 0px;
}

.progressbar-small.progressbar-90 {
	background-position: -11610px 0px;
}

.progressbar-small.progressbar-91 {
	background-position: -11739px 0px;
}

.progressbar-small.progressbar-92 {
	background-position: -11868px 0px;
}

.progressbar-small.progressbar-93 {
	background-position: -11997px 0px;
}

.progressbar-small.progressbar-94 {
	background-position: -12126px 0px;
}

.progressbar-small.progressbar-95 {
	background-position: -12255px 0px;
}

.progressbar-small.progressbar-96 {
	background-position: -12384px 0px;
}

.progressbar-small.progressbar-97 {
	background-position: -12513px 0px;
}

.progressbar-small.progressbar-98 {
	background-position: -12642px 0px;
}

.progressbar-small.progressbar-99 {
	background-position: -12771px 0px;
}

.progressbar-small.progressbar-100 {
	background-position: -12900px 0px;
}

.progressbar-small .progressbar-num{width:100%; font-size:32px; padding-top:25px; line-height:40px; }
.progressbar-small .progressbar-time{width:105px; color:#0099ee;margin: 0 auto 2px;}
.progressbar-small .progressbar-time.complete{}
.progressbar-small .progressbar-time.preview{}
.progressbar-small .countdown{ line-height:16px; width:105px; margin:0 auto; color:#888; }
.progressbar-small .line-big{width:94px;}
.progressbar-small .line-small{width:70px;}
