/*垂直居中*/
.verticalAlign{vertical-align:middle;display:inline-block;height:100%;margin-left:-1px;}
.xcConfirm .popBox{position:fixed;right:-1000px;top:25%;background-color:#fff;z-index:2147000001;width:250px;height:300px;margin-left:-285px;margin-top:-150px;border-radius:5px;font-weight:bold;color:#535e66;box-shadow: 3px 3px 3px rgba(0,0,0,0.25);
border-left: 1px solid #e0e0e0;}
.xcConfirm .popBox .ttBox{height:55px;line-height:30px;padding:14px 30px;border-bottom:solid 1px #eef0f1; background:#b52200;color:#fff;}
.xcConfirm .popBox .ttBox .tt{font-size:18px;display:block;float:left;height:30px;position:relative;}
.xcConfirm .popBox .ttBox .clsBtns{display:block;cursor:pointer;width:36px;height:36px;position:absolute;top:10px;right:20px;background:url(../images/icons.png) no-repeat;}
.xcConfirm .popBox .txtBox{margin:10px 10px;height:auto;overflow:hidden;width: 220px;}
.xcConfirm .popBox .txtBox h1{font-size: 16px; color:red;}
.xcConfirm .popBox .txtBox span{margin-bottom: 0px; position: absolute;bottom: 5px; text-align: right; width: 200px; overflow: hidden;}
.xcConfirm .popBox .txtBox span i{color:rgb(26, 126, 255);}
.xcConfirm .popBox .txtBox .bigIcon{float:left;margin-right:20px;width:48px;height:48px;background-image:url(./icons.png);background-repeat:no-repeat;background-position:48px 0;}
.xcConfirm .popBox .txtBox p{height:84px;margin-top:16px;line-height:26px;overflow-x:hidden;overflow-y:auto;}
.xcConfirm .popBox .txtBox p input{width:200px;height:30px;border:solid 1px #eef0f1;font-size:18px;margin-top:6px;}
.xcConfirm .popBox .btnArea{border-top:solid 1px #eef0f1;}
.xcConfirm .popBox .btnGroup{float:right;}
.xcConfirm .popBox .btnGroup .sgBtn{margin-top:14px;margin-right:10px;}
.xcConfirm .popBox .sgBtn{display:block;cursor:pointer;float:left;width:95px;height:35px;line-height:35px;text-align:center;color:#FFFFFF;border-radius:5px;}
.xcConfirm .popBox .sgBtn.ok{background-color:#0095d9;color:#FFFFFF;}
.xcConfirm .popBox .sgBtn.cancel{background-color:#546a79;color:#FFFFFF;}
