@charset "UTF-8";
/**
 * 
 * @authors bichunfeng (you@example.org)
 * @date    2017-4-27 10:00:00
 * @version $Id$ 
 */
 /*thirdanniversary part3*/
 body{background:#fc7996;padding-bottom: 2rem;}
.page-bg{width:16rem;margin:0 auto;background:url("/static/weixin/activity/thirdanniversary/images/three/page-bg.jpg") center top no-repeat;background-size:100%;overflow: hidden;}
.page-center{text-align: center;}
.page-auto{width: 15.5rem;margin:0 auto;box-sizing: border-box;}
.page-flex{display: -webkit-box;-webkit-box-orient: horizontal;-webkit-box-pack: justify;display: flex;flex-direction:row;justify-content: space-around;}
.page-banner-font1{padding-top: 2rem;color: #0040b6;font-size: 0.45rem;}
.page-banner-font2{color: #fff;font-size: 0.75rem;padding: 0.3rem 0 0.1rem;font-weight: bold;}
.page-banner-font3{color: #6bf3ff;font-size: 0.35rem;line-height: 1;padding: 0.7rem 0 0.3rem;}
.page-banner-font4{color: #fff;font-size: 0.4rem;line-height: 1;}
.page-map{position:relative;width: 12.5rem;height: 4.9rem;margin:0.4rem auto 0;background:url("/static/weixin/activity/thirdanniversary/images/three/page-map.png") center top no-repeat;background-size: 100%;}
.page-add-up{position: relative;}
.page-add-up li{width:33%;color: #fff;text-align: center;}
.page-add-up li p{font-size: 0.35rem;}
.page-add-up li h6{font-size:0.5rem;font-weight: bold;text-shadow: 1px 1px 5px rgba(128,46,229,1);line-height: 0.8rem;}
.page-add-up li:first-child{position: absolute;left:0;top:-0.2rem;}
.page-add-up li:nth-child(2){position: absolute;width:100%;top:-1.3rem;left:0;right: 0;}
.page-add-up li:last-child{position:absolute;top:-0.8rem;right: 0;}
.page-fish{position:absolute;top:-0.63rem;left:40%;width: 2.1rem;height: 1.975rem;background:url("/static/weixin/activity/thirdanniversary/images/three/page-fish.gif") center top no-repeat;background-size: 100%;}
.page-step1 .page-fish{top:0.62rem;left:-0.5rem;}
.page-step2 .page-fish{top:-0.64rem;left:40%;}
.page-step3 .page-fish{top:0.55rem;left:10.7rem;}
.page-time{padding-top: 11.8rem;color: #ffeb00;font-size: 0.6rem;line-height:1;}

.page-wrap{position:relative;width:15.5rem;min-height:3rem;margin:2.5rem auto;padding:0.9rem 0.5rem;border-radius: 0.25rem;background: #7c5ff2;color: #fff;border:0.2rem solid #febccb;box-sizing: border-box;}
.page-wrap:after{content: "";position: absolute;top:93%;left:-1rem;width:3rem;height: 1.7rem;background: url('/static/weixin/activity/thirdanniversary/images/three/page-icon-cloud.png') bottom center no-repeat; background-size: 100%;}
.page-wrap:before{content: "";position: absolute;top:98%;right:-0.6rem;width:2.25rem;height: 1rem;background: url('/static/weixin/activity/thirdanniversary/images/three/page-icon-line.png') top center no-repeat; background-size: 100%;}
.page-wrap-mirror:after{top:95%;left:13rem;background: url('/static/weixin/activity/thirdanniversary/images/three/page-icon-cloud.png') top center no-repeat; background-size: 100%;}
.page-wrap-mirror:before{left:-0.6rem;background: url('/static/weixin/activity/thirdanniversary/images/three/page-icon-line-mirror.png') top center no-repeat; background-size: 100%;}

/*title*/
.page-title{position:absolute;left:50%;top:0;transform:translate(-50%,-1.5rem);-webkit-transform:translate(-50%,-1.5rem);width:9.75rem; height:1.95rem; line-height:1.95rem;background: url("/static/weixin/activity/thirdanniversary/images/three/page-title.png") top center no-repeat; background-size: 100%;  margin:0 auto;text-align: center; color: #fff; font-size: 0.75rem; font-weight: bold; }
/*.page-title span{ position: relative; display: inline-block;}*/
/*.page-title span:nth-child(1){top: -0.1rem;}*/
/*.page-title span:nth-child(2){top: 1.27rem;} 
.page-title span:nth-child(3){top: 1.3rem;}
.page-title span:nth-child(4){top: 1.35rem;}
.page-title span:nth-child(5){top: 1.4rem;}
.page-title span:nth-child(6){top: 1.3rem;}
.page-title span:nth-child(7){top: 1.27rem;}
.page-title span:nth-child(8){top: 1.15rem;}*/

.page-red-envelope{ width: 15.5rem; height: 6.775rem;background: url('/static/weixin/activity/festival/images/box.gif') top center no-repeat; background-size: 100%; margin:3.8rem auto 0; text-align: center;position: relative; }
.page-red-envelope .btn{ position: absolute; left: 50%; margin-left: -1.8rem; width:3.6rem; height: 3.6rem; margin-top: 2.1rem; background: url('/static/weixin/activity/festival/images/icon-1.png') top center no-repeat; background-size: cover;-webkit-tap-highlight-color: rgba(0,0,0,0);}
.page-red-envelope .btn.disable{background: url('/static/weixin/activity/festival/images/icon-cash.png') top center no-repeat; background-size: cover;}

.page-project{ width: 100%; height: 4.9rem;margin:0.5rem auto;border-radius: 0.25rem; background: #6950de; box-sizing: border-box;}
.page-project .title{position:relative;color:#fff;font-size: 0.7rem;padding:0.5rem 0.5rem 0.3rem; font-weight: bold;  z-index: 2;}
.page-project .title span{color: #ffd800;}
.page-project table{ width: 100%; text-align: center; color: #8d7ae6; font-size: 0.5rem; }
.page-project table tr:nth-child(1) td:nth-child(1){ color: #ffd800; font-size:0.65rem; font-weight: bold; height: 1.8rem;}
.page-project table tr:nth-child(1) td:nth-child(1) span{ font-size:1.275rem;}
.page-project table tr:nth-child(1) td:nth-child(2){ color: #fff; font-size: 0.6rem; padding-top: 0.4rem;}
.page-project .btn{ position: relative; display:inline-block; width: 5rem; height: 1.4rem;line-height: 1.445rem;  background: #ffdf2e;border-radius:0.7rem; color: #e2301c; font-size: 0.75rem; font-weight: bold; margin-top: 0.3rem; text-align: center;border-bottom: 0.025rem solid #ffca00;}
.page-project .btn:after{content:"";position: absolute;top:26%;right:0.3rem;width:0.55rem;height:0.75rem;background:url('/static/weixin/activity/thirdanniversary/images/three/page-btn-icon.png') top right no-repeat;background-size: 0.55rem 0.75rem;}
.page-project .btn.disable{ background: #8a8a8a;border-bottom: 0.025rem solid #535253; color: #535253;}
.page-project .btn.disable:after{ background: none;width:0;height: 0;}

/*today gift*/
.page-today-gift{background:url("/static/weixin/activity/thirdanniversary/images/three/page-today-gift-bg.png") center 2.85rem no-repeat;background-size: 12.25rem 3.325rem;}
.page-today-gift h6{position:relative;display:inline-block;padding:0 0.7rem;margin-top:0.5rem;color: #fff100;font-size: 0.7rem;}
.page-today-gift h6:after{content: "";position:absolute;left:0;top:50%;width:0.5rem;height:0;border-top:1px solid #fff100;}
.page-today-gift h6:before{content: "";position:absolute;right:0;top:50%;width:0.5rem;height:0;border-top:1px solid #fff100;}
.page-today-gift small{font-size: 0.55rem;}
.page-today-gift table{width: 100%;margin-top: 0.8rem;}
.page-today-gift table thead{padding-bottom: 1rem;margin-bottom: 3rem;}
.page-today-gift table .title{border-top:1px dashed rgba(255,255,255,0.4);border-bottom:1px dashed rgba(255,255,255,0.4);}
.page-today-gift table th{padding:0.3rem 0 0.5rem;width: 32%;}
.page-today-gift table td{padding:0.5rem 0 0.3rem;width: 32%;}
.page-table-scroll{overflow: auto;height: 4.8rem;}
.page-table-scroll table{margin-top: 0.2rem;}
.page-table-scroll table tr td:nth-child(3){text-align: center;}
.page-today-img{display:block;margin:0.5rem auto;width:4.8rem;}

/*corner mark*/
.page-corner-mark{position: absolute;top:-0.33rem;left:-0.33rem;z-index:2;width: 3.25rem;height: 2.7rem;background: url("/static/weixin/activity/thirdanniversary/images/three/page-corner-mark.png") center top no-repeat;background-size: cover;color: #f43f3f;}
.page-corner-mark span{position:relative;top:0.9rem;left:-0.4rem;transform: rotate(-45deg);-webkit-transform: rotate(-45deg);display:block;width:100%;line-height:1rem;text-align: center;color: #fff;}

/*surprise*/
.page-surprise{background:url("/static/weixin/activity/thirdanniversary/images/three/page-surprise-bg.png") center 4.65rem no-repeat;background-size: 12.5rem 3.175rem;color: #fff100;}
.page-surprise h6{height: 1.2rem;margin:0 auto 0.5rem;font-weight: bold;font-size: 1rem;}
.page-surprise p{font-size: 0.5rem;line-height: 1.25;}
.page-surprise-gift{display:block;margin:0.5rem auto;width:6rem;}
/*scroll*/
.page-winner-list{margin:1rem auto;height:2.95rem;font-size: 0.5rem;color: #ffef58;}
.page-winner-list .title{border-top:1px dashed rgba(255,255,255,0.4);border-bottom:1px dashed rgba(255,255,255,0.4);}
.page-winner-list h6{position:relative;display:inline-block;padding:0.3rem 0.7rem 0.3rem;font-size:0.7rem;text-align: center;color: #ffffff;}
.page-winner-list h6:after{content: "";position:absolute;left:0;top:50%;width:0.5rem;height:0;border-top:1px solid #fff;}
.page-winner-list h6:before{content: "";position:absolute;right:0;top:50%;width:0.5rem;height:0;border-top:1px solid #fff;}
.page-scroll{height:1rem;overflow: hidden;}
.page-scroll-list li{position: relative;height: 1.5rem; line-height: 1.5rem;}
.page-scroll-list span{display: block;width: 25%;text-align: center;color: #fff;}
/*rule*/
.page-rule{color: #fff;border-radius: 0.25rem;padding:0.5rem;}
.page-rule h6{font-size:0.6rem;line-height: 0.5rem;padding:0.5rem 0;}
.page-rule p{position:relative;padding-left:1rem;font-size: 0.5rem;line-height: 0.8rem;}
.page-rule p span{position: absolute;left:0;top:-0.1rem;padding:0.1rem 0.3rem 0.1rem 0.1rem;}
.page-tip{color: #fff;font-size: 0.6rem;line-height: 1rem;padding-top: 0.6rem;}




