@charset "UTF-8";
/**
 * 
 * @authors xia.lili@9douyu.com
 * @date    2017-05-08
 * @version mothersday
 */
body{background-color: #fff;}
.page-banner{width: 100%; height: 570px;background: url('/static/activity/mothersday/images/mother-banner.jpg') top center no-repeat;}
.page-banner p{width:505px; text-align: right; padding-top: 210px; color: #a3c7bf; font-size: 20px;}
.page-bg{width:100%;background: url('/static/activity/mothersday/images/mother-bg.jpg') top center no-repeat #fff;}
.page-wrap{width:1017px; margin: 0 auto;}
.mother-info{text-align: center; color: #79beae ; font-size: 18px; padding:130px 0 55px;}
.mother-coupon{width:100%; overflow: hidden; margin-bottom: 80px;}
.mother-coupon li{float: left; cursor: pointer;}
.mother-300{width:258px; height:285px; color: #f8bc53;font-size: 24px; text-align: center; margin:0 40px 25px;background: url('/static/activity/mothersday/images/mother-icon.png') 0 -102px no-repeat;}
.mother-coupon-txt{padding:90px 0 10px; line-height: 100px;}
.mother-300 big{font-size: 91px; color: #f8bc53;}
.mother-coupon small{font-size: 16px; color: #9a9a9a;}

.mother-100,.mother-200{width:382px; height:191px; color: #79c8f1;font-size: 22px; text-align: right; margin:0 40px 25px 40px;background: url('/static/activity/mothersday/images/mother-icon.png') -258px -102px no-repeat;}
.page-li4{margin-left: 125px;}
.mother-coupon-txt2{padding:60px 0 15px; line-height: 50px;}
.mother-100 p,.mother-200 p{padding-right: 65px;}
.mother-100 big,.mother-200 big{font-size: 80px; color: #79c8f1;}

.mother-pro{padding:0 27px 3px 35px;margin-bottom: 80px; position: relative; background: url('/static/activity/mothersday/images/mother-repeat.png') top right repeat-y;}
.mother-pro:before,.mother-pro:after{position:absolute; content: ''; left: 0; right:0; background-image:url('/static/activity/mothersday/images/mother-icon.png'); background-repeat: no-repeat; }
.mother-pro:before{top: -48px; height:48px; background-position: 0 0;}
.mother-pro:after{bottom: -40px; height:54px; background-position:0 -48px;}
.mother-pro table{width: 100%; margin-bottom: 20px; box-shadow: 0 2px 2px rgba(0,0,0,.2); background-color: #fff;}
.mother-pro table th{padding-left: 30px; font-size: 22px; color: #333; height:70px;}
.mother-pro table th span{margin-right: 20px;}
.mother-pro table td{width: 20%;text-align: center;font-size: 20px; padding-bottom: 20px; color: #333; line-height: 40px;}
.mother-pro table td small{font-size: 16px; color: #666;}
.mother-pro table td big{font-size: 48px;}
.mother-red{color: #ff3333;}
.mother-pro a{display: block;}
.mother-btn,a.mother-btn,.mother-btn:visited{display: inline-block; width:151px; height:41px; color: #fff; line-height: 41px; text-align: center; padding-top: 24px;background: url('/static/activity/mothersday/images/mother-icon.png') -647px -102px no-repeat; }
.mother-pro table:hover .mother-btn,a.mother-btn:hover,a.mother-btn:active{background-position:-799px -102px; }
.mother-pro table:hover .mother-btn.disable,.mother-btn.disable,a.mother-btn.disable,a.mother-btn.disable:hover{background-position:-647px -168px; }
.mother-day{width:560px; height:207px; margin:0 auto;background: url('/static/activity/mothersday/images/mother-icon.png') 0 -400px no-repeat;}
.mother-day p{text-align: center; padding-top: 140px; font-size: 16px; color: #666;}
.mother-rule-bg{width:100%; background-color: #e0eced; line-height: 30px; padding:65px 0 60px; margin-bottom: -80px; font-size: 14px; color: #9a9a9a;}
.mother-rule-bg strong{font-size: 20px;}
.mother-day-prize{width:100%; padding-bottom: 70px; text-align: center;font-size: 18px; color: #333;}
.mother-prize-title{width:293px; height:62px; margin:40px auto 10px;background: url('/static/activity/mothersday/images/mother-icon.png') -647px -400px no-repeat; }
.mother-day-prize img{margin-bottom: 35px;}
.mother-list{width:100%; text-align: center;padding-bottom: 85px;line-height: 40px; font-size: 24px; color: #333;}
.mother-list span{margin-right: 20px;}
.mother-list-title{width:312px; height:67px; margin:0 auto 40px;background: url('/static/activity/mothersday/images/mother-icon.png') -647px -463px no-repeat;}

.page-layer{display:none;}
.page-pop{width:300px; height:155px; line-height: 28px; padding-top: 45px; position:fixed; font-size: 20px; text-align: center; color: #666; z-index: 999999; left: 50%; top: 50%; margin:-100px 0 0 -150px; background: url('/static/activity/mothersday/images/mother-pop.jpg') 0 0 no-repeat;}
.page-pop-close{width:13px; height:13px;font-size: 0;line-height: 0; cursor: pointer; position:absolute;top:15px; right:15px; background: url('/static/activity/mothersday/images/mother-icon.png') -803px -194px no-repeat;}
.page-pop-text1{line-height: 30px; margin-top: 20px;}
.page-mask{position: fixed;left:0;top:0;z-index:1;width:100%;height: 100%;background: rgba(0,0,0,0.7);}
.page-pop-text-desc{font-size:12px;color:#f8bc53}
